.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

$header-spacing: 1em;
.header {
  padding-top: 0.2em;
  padding-left: $header-spacing;
  color: white;

  margin-bottom: 1rem;
  background-color: $app-red-color;

  a {
    color: white;
    text-decoration: inherit;
    &:hover, &:focus {
      color: $link-hover-color;
    }
  }

  .header-brand {
    margin-right: $header-spacing;
    h1 {
      display: inline;
      margin-bottom: 0;
      padding-bottom: 0;
      font-weight: 400;
      letter-spacing: -0.01em;
    }
    .header-subtitle {
      // not sure why we need this to get a good lockup
      margin-top: -0.4rem;
      font-weight: 300;
      font-family: $font-family-sans-serif;
    }
  }
  .header-nav {
    margin-right: $header-spacing;
    a.header-nav-item {
      @extend %special-head;
      color: white;
      display: inline-block;
      padding-top: .425rem;
      padding-bottom: .425rem;
      margin-left: 1.5rem;
      &:first-child {
        margin-left: 0;
      }
      &:hover, &:focus {
        color: $link-hover-color;
      }
    }
  }
}


