%main-column {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

%special-head {
  font-family: $font-family-special-head;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.03em;
  color: $text-muted;
  a {
    color: $text-muted;
    text-decoration: inherit;
  }
  a:hover, a:focus {
    color: $link-hover-color;
  }
}

%card {
  background-color: white;

  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border-radius: 3px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

  padding: 0.66rem 1rem;

  overflow: hidden;
}