/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "font-awesome";


$enable-flex: true;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:light,regular,medium,bold');
$font-family-sans-serif: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-special-head: $font-family-sans-serif;

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
//@import url('https://fonts.googleapis.com/css?family=PT+Mono');
//$font-family-monospace: 'PT Mono', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-monospace: 'Anonymous Pro', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$app-red-color: #B71C1C;


$text-muted: #757575;
$body-bg: #FDF0D5;

$link-color: $app-red-color;

// bootstrap 4 serif
$font-family-base: Georgia, "Times New Roman", Times, serif;

$font-size-h1: 2.2rem;
$font-size-h2: 1.6rem !default;
$font-size-h3: 1.6rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: 1rem !default;
$font-size-h6: 1rem !default;


@import "bootstrap_local";

@import "app/mixins";
@import "app/header";
@import "app/sources";

a:hover, a:focus {
  text-decoration: none;
}

.bullet-icon {
  width: 1em;
}


h1 {
  font-family: $font-family-sans-serif;
  @extend %special-head;
  text-transform: uppercase;
  font-size: $font-size-h1;
  letter-spacing: -0.01em;
}

h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
}

h2 {
  font-weight: 500;
  letter-spacing: -0.01rem;
}

h3, h4, h5, h6 {
  font-weight: 400;
  // don't let feeds style the headings more!
  strong, b, em {
    font-weight: inherit;
  }
  strong, i, em {
    font-style: inherit;
  }
}

h3 {
  letter-spacing: -0.025rem;
}

h4, h5, h6 {
  letter-spacing: -0.01rem;
}
h5 {
  font-weight: 500;
}

h1.page-title {
  @extend %main-column;
  text-align: center;
}

.about {
  @extend %main-column;
  @extend %card;
  a.shortlink {
    @extend %special-head;
    margin-left: 1rem;
  }
  em {
    font-weight: normal;
    font-style: normal;
    color: $text-muted;
    @extend %special-head;
  }
}

.entry {
  @extend %main-column;
  @extend %card;
}

.entry-head {
  margin-bottom: 0.5rem;
}
.entry-title {
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 0.33rem;
  a {
    display: block;
  }
}
.entry-pre-header {
  @extend %special-head;
  display: flex;
  justify-content: space-between;
  .entry-header-source {
    margin-right: 1em;
  }
  .entry-datetime {
    white-space: nowrap;
  }
}

pre {
  background-color: $code-bg;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  //border-radius: 5px;

  pre {
    padding: 0;
    border: 0;
    margin: 0;
  }
}

code {
  color: $body-color;
}
a code {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
}

.entry-body {
  font-family: $font-family-serif;
  margin-bottom: 1rem;
  img {
    max-width: 100%;
    max-height: 12rem;
    margin: 0 1rem 1rem 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  // make top-level div's like p's
  // & > div {
  //   margin-bottom: 1rem;
  // }

  blockquote {
    @extend .blockquote;
    font-family: inherit;
    font-size: 1rem;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.entry-footer {
  @extend %special-head;

  display: flex;
  justify-content: space-between;

  .entry-footer-source {
    margin-right: 1em;

    // force one line with ellipsis
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // .links {
  //   flex-grow: 1;
  //   text-align: right;
  // }
  
  .links {
    white-space: nowrap;
  }
}












