/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
//$font-family-sans-serif: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-sub-head: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/*@import url('https://fonts.googleapis.com/css?family=Lato&subset=latin-ext');
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
$font-family-monospace: 'PT Mono', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

@import url('https://fonts.googleapis.com/css?family=Roboto');
$font-family-entry: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

/*@import url('https://fonts.googleapis.com/css?family=Merriweather&subset=latin-ext');
$font-family-serif: 'Merriweather', Georgia, "Times New Roman", Times, serif;
*/
/*$code-bg: #002b36;
$code-color: #839496;
pre {
  color: $code-color;
  background-color: $code-bg;
}
*/// $brand-primary: #44558E;

@import "bootstrap_local";

%main-column {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

%sub-head {
  font-family: $font-family-sub-head;
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.06em;
}

body {
  background-color: #FDF0D5;
}

.header {
  @extend .clearfix;
  @extend %sub-head;
  padding-left: 2em;
  padding-right: 2em;
  color: white;

  margin-bottom: 2rem;
  background-color: #b71c1c;
  .header-brand {
    display: inline-block;
    float: left;
  }
  .header-links {
    display: inline-block;
    float: right;
  }
}


.entries {

}




.entry {
  @extend %main-column;
  background-color: white;

  border: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border-radius: 3px;
  margin-bottom: 2rem;
}

.entry-head {
  margin-bottom: 1rem;
}
.entry-title {
  @extend .h4;
  //font-weight: bold;
  //line-height: 1.2em;
  margin: 0;
  padding: 0;
  margin-top: 0.3rem;
}
.entry-pre-header {
  font-family: $font-family-sub-head;

  color: #757575;
  & a {
    color: #757575;
  }
  text-transform: uppercase;
  font-size: 90%;
  letter-spacing: 0.01em;
}
.entry-feed-url {
  color: red;
}
.feed-icon {
  height: 0.8em;
  width: 0.8em;
  vertical-align: baseline;
}
.entry-datetime {
  color: #757575;
  float: right;
}
.entry-title {
  text-transform: capitalize;
}

pre {
  background-color: $code-bg;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 5px;
}

.entry-body {
  @extend .clearfix;
  font-family: $font-family-serif;
  img {
    max-width: 100%;
    max-height: 12rem;
    margin: 0 1em 1em 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  blockquote {
    @extend .blockquote;
    font-family: inherit;
    font-size: 1rem;
  }

  // h1, h2, h3 {
  //   @extend .h4;
  //   font-weight: bold;
  // }
  // h4 { @extend .h5 }
  // h5 { @extend .h6 }
}

.entry-footer {
  color: #757575;
  font-size: 90%;
  & a {
    font-weight: normal;
    color: #757575;
  }
  @extend %sub-head;
}
